[Unit]
Description="HashiCorp Consul"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ _consul.config_dir }}/main.json

[Service]
User=consul
Group=consul
EnvironmentFile=-/etc/default/{{ _consul.service_name }}
ExecStart=/usr/local/bin/consul agent $DAEMON_ARGS $CONSUL_FLAGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=65536
StandardOutput=file:{{ _consul.logfile }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
